[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch_cpu"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
xgboost = "*"
fastapi = "*"
nltk = "*"
transformers = "*"
uvicorn = "*"
torch = {version = "*", index = "pytorch_cpu"}
httpx = "*"

[dev-packages]

[requires]
python_version = "3.11"
